/* External CSS */
/* List selector */
/* Selecting every single element on the page */
* {
}

/* Inheritance: Only styles about text get inherited & they are easily overridden */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center; /*Align with its parent element*/
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* Descendant selector: p element is a child of the footer element but leads to problems because we are encoding the HTML structure */
/* footer p {
  font-size: 16px;
} */

/* ID names are used only once */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(odd) {
  color: red;
} */

/* Only works if p is the first child of article */
/* article p:first-child {
  color: red;
} */

/* This works */
/* article p:last-child {
  color: red;
} */

/* Styling Links */
/* Target all the anchor elements with href attributes */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  color: white;
}
/* Always defined in the above order: LVHA */

/* Resolving Conflicts */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
} */

nav {
  font-size: 18px;
}
